<form id="RegisterPageForm" action="/register" method="POST">
	<div class="form-group">
		<input placeholder="Ім'я користувача" type="text" id="username" name="username" required />

		<input placeholder="Пошта" type="email" id="email" name="email" required />

		<input placeholder="Пароль" type="password" id="password" name="password" required />
		<button type="submit">Зареєструватись</button>
	</div>
	
	<p>Вже є користувачем? <a href="/login">Увійти</a></p>
</form>

