<form
	action="/upload"
	id="uploadForm"
	method="POST"
	enctype="multipart/form-data"
>
	<div class="upload">
		<label for="song">Оберіть пісню для завантаження (MP3)</label><br>
		<input type="file" id="song" name="song" accept="audio/mpeg" required />
	</div>
	<button type="submit">Завантажити</button>
</form>
<div id="message"></div>

