<div>
	<label for="searchInput">Пошук</label>
	<input
		type="text"
		id="searchInput"
		oninput="searchSongs()"
		placeholder="Почність пошук пісні"
	/>
	<label for="sortSelect">Сортувати за:</label>
	<select id="sortSelect" onchange="sortSongs()">
		<option value="title">Назва</option>
		<option value="artist">Виконавець</option>
		<option value="album">Альбом</option>
		<option value="duration">Тривалість</option>
	</select>
</div>

